body {
    font-family: Roboto,Arial;
    margin: 0;
    padding-left: 95px;
    padding-top: 80px;
    padding-right: 24px;
    background-color: rgb(244, 244, 244);
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

