.thumbnail {
    width: 100%;
    border-radius: 10px;  
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture {
    width: 36px;
    border-radius: 50%;
}

.video-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.video-author,
.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-author {
    margin-bottom: 4px;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 20px;
}

@media (max-width: 900px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
    #disappear {
        opacity: 0;
    }
}

@media (min-width: 901px) and (max-width: 999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }  
}

@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}
@media (min-width: 0px) and (max-width: 1299px) {
    
    #disappear {
        opacity: 0;
    }
    .left-sidebar
    {
        overflow-y: hidden;
    }
}

@media (min-width: 1300px) {
    .left-sidebar {
        width: 250px;
    }

    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    body {
        padding-left: 273px;
    }

    .sidebar-link {
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding-left: 24px;
        height: 42px;
    }
    .sidebar-link div {
        margin-right: 24px;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #disappear {
        opacity: 1;
    }
    
}

.video-time {
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 5px;
    background-color: rgb(29, 28, 28);
    color: white;
    position: absolute;
    bottom: 10px;
    right: 7px;
    
}

.video-link {
    color: black;
    text-decoration: none;
}

.channel-link {
    color: rgb(96, 96, 96);
    text-decoration: none;
}
